* /* All */ {
    margin: 0;
    padding: 0;
}

p:nth-child(even){
    background-color: darkviolet;
}

p:nth-child(odd){
    background-color: firebrick;
}

p:nth-child(3n){ /* lines with multiple is 3 */
    background-color: darkcyan;
}

p:nth-child(3n+5){ /* after  5 lines it become with multiple of 3 */
    background-color: darkkhaki;
}